body {
  font-family: "Roboto", sans-serif;
  min-height: 2500px;
  background-color: rgb(244, 244, 244);
}

.events-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
}

.events-header{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  color: #0f3272;
  margin-bottom: 20px;
 
}

.events-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 50px;
}

.event-items-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 0.3rem;
  opacity: 80%;
}

.event-items-container:hover{
  background-color: rgb(244, 244, 244);
  border-radius: 10%;
  opacity: 100%;
}

.event-items-container>p {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}

.event-items-container>h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.event-items-container>img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
  align-self: center;
  object-fit: fill;
}

.event-items-container span{
  position: absolute;
  top: -10px;
  left: -10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.event-items-container span::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background:#0f3272;
  z-index: -1;
  box-shadow: 140px -140px #0f3272;
}

.event-items-container span::before{
  content: 'Best Value';
  position: absolute;
  width: 150%;
  height: 40px;
  background: #0f3272;
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing:0.1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.event-items-container> button{
  display: flex;
  margin-top: 5%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #0f3272;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: 10%;
  border-radius: 10px;
  opacity: 50%;
}

.event-items-container> button:hover{
  opacity: 100%;
}

.sale-section {
  margin-top: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
}

.sale-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  color: #0f3272;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.bundles-container>h3{
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  color: #0f3272;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.bundles-sale-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 50px;
}

.bundles-sale-items-container{
  margin-top: 20px;
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 0.3rem;
  opacity: 80%;
  border: 1px solid black;
}
.bundles-sale-items-container>img{
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
  height: 80%;
}

.bundles-image-wrapper>img{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
}

.bundles-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bundles-title>h3{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
}

.bundles-productDetail-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bundles-productDetail-wrapper>p{
  padding-top: 1%;
  font-size: 15px;
  font-weight: 600;
  color: gray;
}

.bundles-productDetail-wrapper>h1{
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 900;
  color: #0f3272;
}

.product-sale-container{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 2rem;
  margin-bottom: 50px;
}
.product-sale-items-container{
  margin-top: 20px;
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 0.3rem;
  opacity: 80%;
  border: 1px solid black;
}
.product-sale-items-container>img{
  margin-top: 10px;
  width: 100%;
  object-fit: contain;
  height: 15rem;
}

.bundles-sale-items-container>span{
  display: flex;
  background-color: rgb(126, 7, 7);
  color: aliceblue;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10%;
  padding: 5%;

}