*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;

}
header{
    width: 100%;
    height: 100vh;
    background-color: beige;

}

nav,.navigationBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.navigationBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: #222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.brandName{
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    padding: 15px;
}
.brandName-firstName{
    color: white;
    font-weight: 700;
    
}
.brandName-dash{
    color: bisque;
    font-weight: 200;
}
.brandName-lastName{
    color: aqua;
    font-weight: 1000;
    padding-left: 3px;
    
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation > li{
    list-style-type: none;
    padding: 60px;
}

.navigation > li>a{
    color: white;
    font-size: 20px;
    font-weight: 1000;
    text-decoration: 0;

}
.navigation-text-active{
    background-color: aqua;
    color: #222;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.navigation > li>a:hover{
   color: beige;
   transition: all .3s ease-in-out;
}

.navigation-text-active:hover{
    color: beige !important; 
}